
/*==my hover==*/
div.nav-contaiiiner{
    display: flex;
    flex-direction: column;
    height: 100%;
}
section#sidebar{
    margin:2px;
    width: 280px;
    height: 98.5%;
    background: #fff;
    color:#000000;
    z-index: 1000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    transition: 0.3s ease;
    padding-left:5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    overflow-x: hidden;
}
section#sidebar.hide{
    width: 48px;
}
section#sidebar li.active{
    background: #000000;
    position: relative;
    color:aliceblue;
}
section#sidebar li.active a{
    color: aliceblue;
}
section#sidebar li.active::before{
    content:'';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top:-40px;
    right:0;
    box-shadow: 20px 20px 0 (gray);
    z-index: -1;
}
section#sidebar li.active::after{
    content:'';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom:-40px;
    right:0;
    box-shadow: -20px -20px 0 (gray);
    z-index: -1;
}
/*menu styles*/
section h1#menu-label{
    color: #253046d2;
    font-weight: 600;
    text-align: left;
    padding: 10px 0;
    padding-left: 8px;
    pointer-events: none; 
}
section #menuicon{
    display: none;
    visibility: hidden;
}
section div.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top:10px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
    background-color: #fff;
    border-radius: 2px;
    user-select: none;
}
section div.toggle .common{
    position:absolute;
    height:2px;
    width:20px;
    background-color: rgba(37, 48, 70, 0.824);
    border-radius: 50px;
    transition: 0.3 ease;
    cursor: pointer;
}
section div.toggle .top-line{
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
}
section div.toggle .middle-line{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
section div.toggle .bottom-line{
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}
/*form styles search button form*/
section div.menu-top #form{
    padding:2px;
}
#searchbar{
    width: 99%;
    height: 40px;
    align-items: center;
    padding-left: 0.5em;
    padding-bottom: 3px;
    font-size: 18px;
    border: 1px;
    border-radius: 5px;
    box-shadow:0 0 4px rgba(9, 9, 9, 0.1);
    justify-content: space-between;
}
/*link styles in the side-bar*/
#sidebar ul{
    list-style: none;
}
#sidebar ul li a {
    color: #011a419e;
    width: 100%;
    height: 100%;
    font-weight: 500;
    padding: 5px 0;
    display: flex;
    align-items: center;
    text-emphasis: none;
    text-decoration: none;
    transition: 0.2s ease-out;
    white-space: nowrap;
}
#sidebar.hide li.active a{
    color: aliceblue;
}
#sidebar.hide li a{
    width:calc(30px - (4px * 2));
    transition: width .3s ease;
}
#sidebar ul li:hover a{
    color:#fff;
    background-color:  rgba(73, 80, 95, 0.486);
}
#sidebar ul li a .bx{
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*tasks-label styles{*/
#taskslabel{
    font-size: smaller;
    color: rgba(23, 25, 27, 0.689);
    text-align:left;
    padding: 10px 0;
    padding-left: 28px;
    pointer-events: none;
}
/*menu-buttom styles*/
.menu-buttom{
    position:relative;
    bottom: 0;
    left:0;
    width:cal(100%-280px);
    text-align: left;
    padding-left: 8px;
    padding-top: 65px;
    font-size:smaller;
}
#sidebar .menu-buttom li a.logout{
    color: #eb5959;
}
/*==my hover==*/

/*CONTENT*/

#content{
    position: relative;
    width:calc(100%-280px);
    margin-left:280px;
    box-sizing: border-box;
}
#sidebar.hide ~ #content{
    width: calc(100% - 50px );
    left:50px;
    margin-left: 0;
}


/*MYNAV*/
#content nav{
    height:120px;
    background: #fff;
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: sans-serif;
    position: relative;
    margin-right: 4px;
    margin-left: 3px;
    flex-grow: 1;
}
#content nav::before{
    content:'';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow:inset;

}
#content nav a{
    color: #0d264f9e;
    cursor: pointer;
    text-decoration: none;
}
#content nav a:hover{
    color: #23527c;
}
/*styling the userdeatails so they can be move visible but not the caught of the eye .details*/
#content nav .details{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    padding: 3px;
    height: 100%;
    border-radius: 1px;
    transition: background-color 0.3s ease;

}
.details h6{
    font-size: 16px;
    margin-bottom: 10px;
}

#content nav .notifications{
    font-size: 20px;
    position:absolute;
    top:5px;
    right:12px;

}
#content nav .notifications .num{
    position: absolute;
    top: -6px;
    right: -6px;
    width:20px;
    height: 20px;
    border-radius: 50%;
    border:2px solid(#181c219e);
    background: #eb5959;
    color: #ffff;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content .profile img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid(black);

}
/*CONTENT*/




@media screen and (max-width:768px) {
    #content{
        width:100%;
        margin-left: 0;
    } 
}

@media screen and (max-width:576px) {
    
}





















/*MYNAV*/
/*MAIN*/
#content main {
    width:100%;
    padding: 25px 24px;
    font-family: sans-serif; 
}
#content main .head-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
#content main .head-title .left h1{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    color:#000000;
}
#content main .head-title .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li{
    color:#000000;

}
#content main .head-title .left .breadcrumb li a {
    color: rgb(75, 72, 72);
    pointer-events: unset;
    text-decoration: none;

}
#content main .head-title .left .breadcrumb li a.active{
    color:blue ;
}
#content main .head-title .btn-download{
    height:36px;
    padding: 0 16px;
    border-radius: 36px;
    background:#23527c;
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
}
main ul{
    list-style: none;
}
/*drafts and calendar styles*/
#content main .box-info{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:24px;
    margin-top: 20px;
}
#content main .box-info li{
    padding: 18px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap:14px;

}
#content main .box-info li .bx{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: gray;
    font-size: 26px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#content main .box-info li:nth-child(1) .bx{
background-color: lightblue;
color: blue;
}
#content main .box-info li:nth-child(2) .bx{
    background-color: rgb(235, 160, 95);
    color: orange;
}
/*MAIN*/ 